@import '../../scss/main.scss';

.music-thumbnail-card {
  position: relative;
  border-radius: 1rem;
  width: calc(13.4rem);
  display: flex;
  flex-direction: column;
  background: $black;

  &:hover {
    cursor: pointer;
  }

  &.current-music {
    padding: 0.2rem 0.2rem 0;
    background: #fff;
  }

  &__favourite-btn {
    position: absolute;
    top: 0rem;
    right: 0.1rem;
    padding: 0.5rem;
    width: 2.5rem;
  }

  &__image {
    border-radius: 0.8rem 0.8rem 0 0;
    height: 13.4rem;

    &.current-music {
      height: 13.2rem;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.7rem 0 0.9rem;
    height: 4rem;
    border-radius: 0 0 0.8rem 0.8rem;
    position: relative;
    background: $black;

    &.current-music {
      background: #fff;
      padding: 0 0.5rem 0 0.8rem;
    }
  }

  &__music-name {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.1rem;

    &.current-music {
      color: #222;
    }
  }

  &__artist-name {
    font-size: 0.9rem;
    color: #ccc;

    &.current-music {
      color: #444;
      font-weight: 500;
    }
  }

  &__play-pause-btn {
    width: 2.5rem;

    &.current-music {
      width: 2.65rem;
      margin-bottom: -0.2rem;
    }
  }
}
