@import '../../scss/main.scss';

.favourite-music-card {
  width: 100%;
  @include flex-row-center;
  justify-content: space-between;

  &__left {
    @include flex-row-center;
    column-gap: 1rem;

    &--play-pause-btn {
      width: 3rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--thumbnail {
      width: 5rem;
      height: 5rem;
      border-radius: 0.8rem;
    }

    &--data {
      @include flex-column-center;
      align-items: flex-start;
      row-gap: 0.5rem;
    }

    &--music-name {
      font-size: 1.4rem;
      font-weight: bold;
    }

    &--artist-name {
      font-size: 1.3rem;
      color: #ddd;
    }
  }

  &__right {
    @include flex-row-center;
    column-gap: 4rem;

    &--favourite-btn {
      width: 2.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--category-name {
      text-transform: capitalize;
      font-size: 1.4rem;
    }
  }
}
