@import '../../scss/main.scss';

.slider-card {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  border-radius: 0.5rem;

  &__slide {
    position: relative;
    height: fit-content;
    width: 48.4rem;
    height: 27.25rem;
    display: flex;
    margin-right: 1rem;

    &--image {
      position: absolute;
      top: 0;
      left: 0;
      width: 48.4rem;
      height: 27.25rem;
      object-fit: cover;
      border-radius: 0.5rem;
      animation: fade-in 0.3s ease;
      z-index: -1;
    }

    &--btn-container {
      width: 100%;
      position: absolute;
      display: flex;
      bottom: -2rem;
      justify-content: center;
    }

    &--btn {
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    &--btn:not(:last-child) {
      margin-right: 1rem;
    }

    &--btn.selected {
      background-color: #f580eb;
    }
  }
}
