@import '../../scss/main.scss';

.music {
  @include page-style;

  &.current-page {
    @include display-page;
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-left: 0.2rem;
  }

  &__category-name {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: -1rem;

    img:hover {
      cursor: pointer;
    }

    p {
      font-size: 5rem;
      font-weight: 500;
      text-transform: capitalize;
      color: white;
    }
  }

  &__category-container {
    width: 100%;
    display: flex;
    column-gap: 2.2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 790px) {
  .music {
    max-width: 100vw;
  }
}
