@import '../../scss/main.scss';

.music-thumbnail-card {
  position: relative;
  border-radius: 0.8rem;
  width: calc(13rem + 0.4rem);
  height: 17rem;
  border: 0.2rem rgba($color: #fff, $alpha: 0.01) solid;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    border: 0.2rem $white solid;
  }

  &__premium-overlay {
    position: absolute;
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    font-weight: 500;
    background-color: rgba(#333, 0.6);
    z-index: 1;

    &:hover {
      cursor: not-allowed;
    }
  }

  &__favourite-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.5rem;
  }

  &__image {
    border-radius: 0.8rem 0.8rem 0 0;
    width: 13rem;
    height: 13rem;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.7rem 0 0.9rem;
    background-color: rgba($color: #000, $alpha: 0.75);
    width: 13rem;
    height: 3.5rem;
    border-radius: 0 0 0.8rem 0.8rem;
    position: relative;
  }

  &__music-name {
    color: $white;
    font-weight: bold;
    margin-bottom: 0.1rem;
  }

  &__artist-name {
    font-size: 0.9rem;
    color: $very-light-grey;
  }
}
