@import '../../scss/main.scss';

.ambient {
  @include page-style;

  &.current-page {
    @include display-page;
  }

  &__title {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    margin-left: 0.1rem;
    margin-bottom: -1rem;
  }
}
