@import '../../scss/main.scss';

.checkpoint-modal {
  @include fixed-whole-screen;
  @include flex-row-center;
  height: 100vh;
  padding-bottom: 7rem;
  z-index: 1;

  &__container {
    @include flex-column-center;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(5rem);
    row-gap: 1.2rem;
    padding: 2rem;
    border-radius: 0.8rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: white;
  }

  &__btn {
    font-size: 1.6rem;
    padding: 0.6rem 1.8rem;
    background: $white;
    border-radius: 2rem;
    color: #111111;
    font-weight: 500;
    font-size: 1.6rem;

    &:hover {
      cursor: pointer;
    }
  }
}
