@import '../../scss/main.scss';

.help-support-popup {
  @include form-container-style;

  &__form {
    @include form-style;

    &--close-btn {
      @include close-btn-style;
    }

    &--logo {
      display: block;
      width: 10rem;
      margin: 0 auto 1rem auto;
    }

    &--heading {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &--sub-heading {
      align-self: flex-start;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &--submit-btn {
      @include form-submit-btn-style;
      margin-top: 2rem;
    }

    input[type='text'],
    textarea {
      width: calc(100% - 3.6rem);
      min-width: 30rem;
      margin-bottom: 1rem;
    }

    &--ps {
      text-align: center;
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 1rem;
    }
  }
}
