@import '../../scss/main.scss';

.safari-guide {
  @include fixed-whole-screen;
  @include flex-row-center;
  z-index: 3;
  padding-bottom: 8.6rem;

  &__content {
    @include flex-column-center;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(5rem);
    row-gap: 2rem;
    padding: 3rem 4rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 95rem;
    color: white;

    p {
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }

  &__done {
    align-self: center;
    padding: 0.8rem 2.5rem;
    background: white;
    border-radius: 2rem;
    color: #111111;
    font-weight: 500;
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1060px) {
  .safari-guide {
    &__content {
      padding: 2rem 3rem;
      row-gap: 1.5rem;

      p {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .safari-guide {
    &__content {
      p {
        font-size: 1.8rem;
      }
    }

    &__done {
      padding: 0.5rem 1.5rem;
      font-size: 1.6rem;
    }
  }
}

@media (max-height: 620px) {
  .safari-guide {
    padding-bottom: 0;
  }
}
