@import '../../scss/main.scss';

.activation-popup {
  @include fixed-whole-screen;
  @include flex-row-center;
  height: 100vh;
  padding-bottom: 7rem;
  z-index: 1;

  &__container {
    @include flex-column-center;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(5rem);
    row-gap: 1.8rem;
    padding: 2.5rem 7.5rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    color: white;
    position: relative;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    width: 35rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8rem 0;
    border-radius: 2rem;
    font-size: 1.4rem;
    color: #f580eb;
    border: 1px solid #f580eb;
    text-align: center;

    &::placeholder {
      color: #f580eb;
      opacity: 0.5;
    }

    &:focus {
      outline: none !important;
      border: 1px solid #f580eb;
    }
  }

  &__error-msg {
    font-size: 1.1rem;
    text-align: center;
    color: #fe5f5f;
  }

  &__ps {
    font-size: 1.2rem;
    text-align: center;

    a {
      color: white;
      text-decoration: underline;
    }

    span {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.7);

    &:hover {
      cursor: pointer;
    }
  }

  &__submit-btn {
    align-self: center !important;
    padding: 0.6rem 1.5rem;
    background-color: #f580eb;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.8rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__spinner {
    width: 1.8rem;
    margin-bottom: -0.2rem;
    animation: rotation 1.8s infinite linear;
  }
}
