@import '../../scss/main.scss';

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 3;
  opacity: 1;
  @include flex-row-center;
  transition: all 0.3s ease;

  &.not-current-page {
    opacity: 0;
    z-index: -3;
  }

  &.shown-behind {
    opacity: 0;
    z-index: -3;
  }

  &__video {
    opacity: 1;
    transition: all 0.3s ease;

    &.not-current-page {
      opacity: 0;
      z-index: -3;
    }

    &.shown-behind {
      opacity: 1;
      z-index: -3;
    }
  }
}
