@import '../../scss/main.scss';

.simple-thumbnail-card {
  position: relative;
  border-radius: 0.8rem;
  border: 0.2rem rgba($color: white, $alpha: 0.01) solid;

  &.background-card {
    width: 25rem;
    height: 15rem;

    &:hover {
      cursor: pointer;
      border: none;
    }

    &.current-background {
      border: 0.2rem white solid;
    }
  }

  &.ambient-card {
    width: 15rem;
    height: 5rem;

    &:hover {
      cursor: pointer;
      border: none;
    }

    &.current-ambient {
      border: 0.2rem white solid;
    }
  }

  &.avatar-card {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;

    &:hover {
      cursor: pointer;
      border: none;
    }

    &.current-avatar {
      border: 0.2rem white solid;
    }
  }

  &__premium {
    &:hover {
      cursor: not-allowed;
    }
  }

  &__premium-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  &__lock-svg {
    position: absolute;
    top: 0.8rem;
    right: 1.1rem;
    height: 1.1rem;
  }

  &__image {
    border-radius: 0.8rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__overlay-name {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.1);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    @include flex-row-center;
  }
}

.simple-thumbnail-placeholder {
  &.background-placeholder {
    width: 25rem;
    height: 15rem;
  }

  &.ambient-placeholder {
    width: 15rem;
    height: 5rem;
  }

  &.avatar-placeholder {
    width: 10rem;
    height: 10rem;
  }
}
