@import '../../scss/main.scss';

.slider-card-tutorial {
  width: 100%;
  margin-bottom: 2rem;

  &__slide {
    position: relative;
    height: fit-content;
    width: 61.1rem;
    height: 34.4rem;
    margin: 0 auto;
    display: flex;

    &--image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
      animation: fade-in 0.3s ease;
    }

    &--btn-container {
      width: 100%;
      position: absolute;
      display: flex;
      bottom: -2rem;
      justify-content: center;
    }

    &--btn {
      padding: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    &--btn:not(:last-child) {
      margin-right: 1rem;
    }

    &--btn.selected {
      background-color: #f580eb;
    }
  }
}

@media (max-width: 650px) {
  .slider-card-tutorial {
    &__slide {
      width: 50rem;
      height: 28.15rem;
    }
  }
}

@media (max-width: 550px) {
  .slider-card-tutorial {
    &__slide {
      width: 40rem;
      height: 22.5rem;
    }
  }
}
