@import '../../scss/main.scss';

.tutorial {
  @include fixed-whole-screen;
  @include flex-row-center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1rem);
  z-index: 4;

  &__container {
    max-height: 100vh;
    padding: 0 2rem;
    color: white;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &--logo {
      display: block;
      height: 3.4rem;
      margin: 4rem auto 5.5rem auto;
    }

    &--title {
      text-align: center;
      color: #f580eb;
      font-size: 2.8rem;
      font-weight: 700;
      max-width: 61.1rem;
      margin: 4rem 0 2rem 0;
    }

    &--content,
    &--later {
      text-align: center;
      font-size: 1.4rem;
      max-width: 61.1rem;
    }

    &--later {
      margin-bottom: 4rem;

      &:hover {
        cursor: pointer;
      }
    }

    &--btn {
      font-size: 1.8rem;
      font-weight: 500;
      color: #111111;
      padding: 0.7rem 2rem;
      background-color: white;
      border-radius: 2rem;
      margin: 2rem auto 1.5rem auto;
      width: fit-content;

      &:hover {
        cursor: pointer;
      }
    }

    &--buy-premium {
      display: block;
      height: 3.4rem;
      margin: 2rem auto 1rem auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
