@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-row-center;
  flex-direction: column;
}

@mixin fixed-whole-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@mixin page-style {
  position: fixed;
  max-height: calc(100vh - 25rem);
  overflow-y: auto;
  top: 10rem;
  left: 0;
  padding: 0 2.5rem;
  @include flex-row-center;
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: calc(100vw - 32rem);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  transition: all 0.3s ease;
  padding-bottom: 0.4rem;
  z-index: -3;
  opacity: 0;
}

@mixin display-page {
  z-index: 1;
  opacity: 1;
}
