@import './animations';
@import './functions';
@import './mixins';
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.01rem;
}

body {
  font-family: $font-sans-serif;
  box-sizing: border-box;
}

button {
  border: none;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}
