@import '../../scss/main.scss';

.login-popup {
  @include fixed-whole-screen;
  @include flex-row-center;
  height: 100vh;
  padding-bottom: 7rem;
  z-index: 1;

  &__form {
    @include flex-column-center;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(5rem);
    row-gap: 1rem;
    padding: 2.5rem 4.5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: white;
    position: relative;
  }

  &__title-container {
    display: flex;
    column-gap: 4rem;
    margin-bottom: 1.7rem;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 700;

    &.not-current {
      opacity: 0.2;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__sub-title {
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__google {
    button,
    div {
      height: 3.6rem;
    }

    div {
      margin: 0 !important;
    }

    button {
      color: #555 !important;
    }
  }

  &__seperator {
    width: 70%;
    border-top: 1px white solid;
    margin: 1rem 0;
  }

  &__input {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.7rem 1.2rem;
    color: white;
    border-radius: 1rem;

    &.margin-top {
      margin-top: 1rem;
    }
  }

  &__contact {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;

    span {
      font-weight: 700;
    }
  }

  &__error-msg {
    font-size: 1.2rem;
    color: #fe5f5f;
    text-align: center;
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.7);

    &:hover {
      cursor: pointer;
    }
  }

  &__privacy-container {
    align-self: flex-start;
    display: flex;
    column-gap: 1.3rem;
    align-items: center;

    input {
      margin-left: 5%;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      font-size: 1.3rem;
      white-space: nowrap;
    }

    &.margin-top {
      margin-top: 1rem;
    }

    a {
      color: white;
    }
  }

  &__submit-btn {
    align-self: center !important;
    padding: 0.7rem 2rem;
    background: white;
    border-radius: 2rem;
    color: #111111;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1rem;

    &.no-margin {
      margin-top: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__forget-password {
    color: white;
    text-decoration: underline;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__spinner {
    width: 1.8rem;
    margin-bottom: -0.2rem;
    animation: rotation 1.8s infinite linear;
  }
}
