@import '../../scss/main.scss';

.privacy-policy,
.term-condition,
.cookie-policy,
.gdpr,
.cancellation-refund-policy {
  margin-left: 0.8rem;
  overflow-y: auto;
  padding: 0 1rem;

  h1 {
    text-align: left;
    font-size: 3rem;
    font-style: bold;
    margin: 2rem 0;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    font-style: bold;
    margin: 2rem 0;
  }

  p {
    text-align: left;
    font-size: 1.4rem;
    font-style: bold;
    margin: 1.4rem 0;
  }

  ul,
  ol {
    text-align: left;
    font-size: 1.4rem;
    font-style: bold;
  }

  ol li {
    text-align: left;
    font-size: 1.4rem;
    font-style: bold;
    list-style-type: decimal;
    margin-left: 4rem;

    &::marker {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  ul li {
    text-align: left;
    font-size: 1.4rem;
    font-style: bold;
    list-style-type: disc;
    margin-left: 4rem;

    &::marker {
      font-size: unset;
    }
  }

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid black;
      padding: 1rem;
    }
  }
}
